/* style */
body {
	background-color: rgb(238, 241, 223);
}


/* main container */
#main {
	text-align: center;
}


/* heading */
h1 {
	color: black;
	font-size: 45px;
	padding-top: 50px;
	margin-bottom: 35px;
}


/* modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}


/* modal content */
.modal-content {
	background-color: #f7f6f6;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 50%;

}

#modalHeading {
	text-transform: uppercase;
	font-size: larger;
}

#modalText {
	text-align: center;
	font-size: 13px;
	line-height: 3;
	font-family: Verdana, sans-serif;
	list-style-position: inside;
}


/* modal button */
#btnModal {
	box-sizing: border-box;
	width: 110px;
	height: 35px;
	border: 1px solid rgb(9, 80, 77);
	margin-bottom: 40px;
	border-radius: 4px;
	font-family: Verdana, sans-serif;
	background-color: rgb(9, 80, 77);
	color: white;
	font-size: 13px;
	cursor: pointer;
}


/* modal - the close button */
.close {
	color: rgb(35, 34, 34);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/* gametiles */
.game {
	

}

#tile1,
#tile2,
#tile3,
#tile4,
#tile5,
#tile6,
#tile7,
#tile8,
#tile9 {
	width: 80px;
	height: 80px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	margin-bottom: -14px;
}


/* buttons - "play again" and "reset game" */
.gameButton {
	box-sizing: border-box;
	width: 110px;
	height: 65px;
	border: 1px solid rgb(9, 80, 77);
	margin: auto;
	border-radius: 4px;
	font-family: Verdana, sans-serif;
	background-color: rgb(9, 80, 77);
	color: white;
	font-size: 20px;
	cursor: pointer;
}


/* print - who is playing and score */
#print {
	font-family: Verdana, sans-serif;
	color: rgb(0, 0, 0);
	font-size: 20px;
}


/* scoreboard */
.scoreboard {
	text-align: center;
}

.scoreboard>div {
	display: inline-block;
	padding: 5px 20px;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, sans-serif;
	color: rgb(20, 108, 103);
	font-size: 15px;
}

/* 404 paragraphs */
.paragraph_404 {
	font-family: Verdana, sans-serif;
	color: rgb(0, 0, 0);
	font-size: 20px;
}


/* media queries */

/* screen sizes 950px down to 420px */
@media screen and (max-width: 950px) {
	h1 {
		padding-top: 0px;
		margin-bottom: 15px;
	}
	.modal-content {
		
		height: fit-content;
		width: fit-content;
		
	}

	#modalText {
		text-align: left;
		font-size: 13px;
		line-height: 2;
		padding: 0;
		list-style-position: initial;
	}

	#btnModal {
		margin-bottom: 10px;
	}
}

/* screen sizes 420px and smaller */
@media screen and (max-width: 420px) {
	h1 {
		padding-top: 0px;
		margin-bottom: 15px;
	}
	.modal-content {
		margin: 20px;
		height: fit-content;
		width: fit-content;
		
	}

	#modalText {
		text-align: left;
		font-size: 13px;
		line-height: 2;
		padding: 0;
		list-style-position: initial;
	}

	#btnModal {
		margin-bottom: 10px;
	}
}