/* style */
body {
	background-color: rgb(238, 241, 223);
}


/* main container */
#main {
	text-align: center;
}


/* heading */
h1 {
	color: black;
	font-size: 45px;
	padding-top: 80px;
	margin-bottom: 1px;
}

/* gametiles */
#tile1,
#tile2,
#tile3,
#tile4,
#tile5,
#tile6,
#tile7,
#tile8,
#tile9 {
	width: 80px;
	height: 80px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	margin-bottom: -14px;
}